body
{
  margin:0;
}
#langselector
{
  
}
#textarea
{
  width:100%;
  height:70%;
  background-color:white;
  color:black;
}
#outputContainer
{
  width:100%;
  height:30%;
  background-color:black;
  color:white;
}
#compileButton
{
  color:black;
  background-color: yellow;
  border-radius: 10%;
  margin-top: 10px;
  border:none;
  width:60px;
  height:40px;
}
